<!-- No Input Files-->
Haskell/day-**/input.txt
C/day-**/input.txt

C/day-01/input.txt

<!--Ignore Cabal Files -->
Haskell/day-0*/LICENSE
Haskell/day-0*/CHANGELOG.md
Haskell/day-0*/dist-*


<!-- Ignore shell script -->
scripts
