<!-- No Input Files-->
Haskell/day**/input.txt
C/day**/input.txt
C/day**/testinput.txt


<!--Ignore Cabal Files -->
Haskell/day**/LICENSE
Haskell/day**/CHANGELOG.md
Haskell/day**/dist-*

<!-- Ingore C out files-->
C/day**/a.out

<!-- Ignore shell script -->
scripts
